# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xyzappproject.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5emFwcHByb2plY3QiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTcwMDA0MDAwMCwiZXhwIjoyMDE1NjE2MDAwfQ.placeholder_key

# Admin Configuration
ADMIN_EMAILS=kartikchobdar775@gmail.com,explainertechoo77@gmail.com,explainertechoo369@gmail.com
ADMIN_MASTER_PASSWORD=Kartik@2008#
